body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: grid;
  place-items: center;
  background-color: #17191F;
  color: white;
  padding-bottom: 3px;
}

h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.form {
  background-color: #232731;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  color: white;;
}

input {
  background-color: #2F323C;
  border-radius: 5px;
  
}

button {
  background-color: #06B1DF;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
}


label {
  margin-left: 10px;
  margin-right: 5px;
}

button {
  margin-left: 10px;
}

/* section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);

} */

p {
  margin-top: 0px;
}

section {
  display: flex;
  flex-wrap: wrap;
  background-color: #232731;
}

.flashcard {
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323949;
  color: white;
  border-radius: 5px;
}

.footer {
  place-items: center;
  background-color: #17191F;
  color: white;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
}

.footerpic {
padding: 10px 5px;
}